body
{
    background-color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    text-align: center;
}

.navbar
{
    background-color:#292929;
    font-size: 60px;
    text-decoration: none;
}

.navbar a
{
    color: white;
    text-decoration: none;
}

span.cool
{
    font-size: 30px;
}

div.cool
{
    font-size: 30px;
}

table, th, tr
{
    border: 2px white;
    color: white
    text-align: center;
}

div.lol
{
    text-align: center;
}